html {
  font-family: sans-serif;
}

.yellow {
  background-color: #eebb22;
  position: absolute;
}

.yellow:hover {
  opacity: 0;
}

.red {
  background-color: #ee3a22;
}

.border {
  border-style: double;
  border-color: #f2f2f2;
  overflow: inherit;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  color: #f2f2f2;
}

.changa {
  font-family: 'Changa One', cursive;
  hyphens: auto;
}

.redtext {
  color: #ee3a22;
}

.yellowtext {
  color: #eebb22;
}

@media only screen and (min-width: 36em) {

  .yellow {
    position: relative;
  }

  .yellow:hover {
    opacity: 100;
  }

}
