html {
  font-family: sans-serif;
}

.yellow {
  background-color: #eb2;
  position: absolute;
}

.yellow:hover {
  opacity: 0;
}

.red {
  background-color: #ee3a22;
}

.border {
  border-style: double;
  border-width: medium;
  border-color: #f2f2f2;
}

.raleway {
  font-family: "Raleway", sans-serif;
  color: #f2f2f2;
}

.changa {
  font-family: "Changa One", cursive;
  hyphens: auto;
}

.redtext {
  color: #ee3a22;
}

.yellowtext {
  color: #eb2;
}

@media only screen and (min-width: 38em) {

  .yellow {
    position: relative;
  }

  .yellow:hover {
    opacity: 100;
  }

  .redtext {
    text-align: right;
  }

}
