html {
  font-family: sans-serif;
}

.red {
  background-color: #ee3a22;
}

.yellow {
  background-color: #eebb22;
}

.border {
  border-style: double;
  border-color: #f2f2f2;
  overflow: inherit;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  color: #f2f2f2;
}

.changa {
  font-family: 'Changa One', cursive;
}

.redtext {
  color: #ee3a22;
}

.yellowtext {
  color: #eebb22;
}
